body{
    width: 1440px;
}
header{
    width: 100%;
    justify-content: center;
    display: flex;
}
ul{
    padding-left :0;
    list-style: none;
}
li{
    font-size: 12px;
}
#logo{
align-self: center;
}
#recherche{
    margin: 20px 40px;
    width: 1240px;
    height: 70px;
    background-color: #E7E7E7;
    font-size: 18px;
    border-radius: 5px;
}
#recherche::placeholder{
    color :#000000 ; 
}
#searchButton{
    position: relative;
    z-index: 5;
    right: 7%;
    BORDER: NONE;
    background-color: inherit;
}
button{
    cursor: pointer;
}
#select-container{
    display: flex;
}
#select-ingredient{
    background-color: #3282F7;
    width: 170px;
    height: 70px;
    color : white ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 3%;
}
#select-appareil{
    background-color: #68D9A4 ;
    text-transform: capitalize;
    width: 170px;
    height: 70px;
    color : white ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 3.2%;
}
#select-ustensiles{
    background-color:#ED6454 ;
    width: 170px;
    height: 70px;
    color : white ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 3.2%;
}
.recipe-container{
    width: 380px;
    background-color: #E7E7E7;
    height: 364px;
    margin: 3%;
}

.recipe-container > img {
    width: 380px;
    height: 178px;
    background-color: #C7BEBE;
}

.recipes-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.description{
    width: 170px;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 500;
}
.recipe-text-container{
    padding: 1em;
}
.recipe-title{
    display: inline-flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}
.recipe-title h3 {
    font-size: 20px;
}
.recipe-descr-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#tagSpan{
    height: 60px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 15px;
    margin-left: 0;
}
.tagButton{
    min-width: 150px;
    color :#E7E7E7;
    width: auto;
    height: 40px;
    width: auto;
    margin-left: 42px;
    margin-right: 15px;
    font-weight: 700;
    padding: 2%;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

datalist{
    text-transform: capitalize;
}
input::placeholder{
    color: #E7E7E7;
}
.emptyresp{
    margin-left: 42px;
    margin-top: 20px;
}
option{
    color: #E7E7E7;
    background-color: #3282F7;
}
.close-button{
    color : white ;
    border-radius: 50%;
    border: 3px solid white;
    margin-left : 10px ;
    font-weight: bold;
    font-size: 12px;
}
.spanErreur{
    margin-left : 40px ;
    margin-top: 10px;
    font-size: 20px;
}