body{
    align-self: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.linkLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a,a:visited,a:hover{
    text-decoration: none;
}
ul{
    padding-left :0;
    list-style: none;
    width: 170px;
}
li{
    font-size: 12px;
    width: 170px;
}
.logo{
    background: url(logo.svg);
    width: 50px;
    height: 47px;
    margin-top: 30px;
    margin-left: -5px;
}
h1{
    color : #D04F4F ;
    font-size: 38px;
    font-weight: bold;
    margin-left: -5px;
    font-family: 'DM Sans', sans-serif;
}
main{
    width: auto;
}
.searchbar-container{
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    height: 70px;
    background-color: #E7E7E7;
    width: 90%;
    margin:  30px 3%;
}
#recherche::placeholder{
    color :#000000 ;
}
#recherche{
    height: 66px;
    background-color: inherit;
    font-size: 18px;
    border-radius: 5px;
    overflow: auto;
    border: none ;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
#recherche:focus,#recherche:active,#recherche:focus-within,#recherche:active{
    border: none;
    outline: none;
}
#searchButton{
    position: relative;
    z-index: 5;
    right: 2%;
    width: 40px;
    height: 50px;
    border : none ; 
    background-color: inherit;
}
button{
    cursor: pointer;
}
li{
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#select-container{
    display: flex;
    margin: auto 3%;
    position: absolute;
    z-index: 100;
}
#searchIngr, #searchApp,#searchUst{
    width: 170px;
    height: 70px;
    color : white ;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 2.5%;
    padding: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
}
#select-ingredient{
    background-color: #3282F7;
}
#select-appliance{
    background-color: #68D9A4 ;
}
#select-ustensiles{
    background-color:#ED6454 ;
}
#select-ingredient,#select-appliance,#select-ustensiles{
    border-radius: 5px;
    height: fit-content;
    margin-right: 2.5%;
}
.select-content{
    display: flex;
    justify-content: space-between;
}
/* petites barres de recherches */
#searchIngr,#searchUst,#searchApp{
    line-height: 60px ;
    border: none;
    width: 90%;
    outline: none;
}
#searchIngr{
    background-color: #3282F7;
}
#searchApp{
    background-color:#68D9A4;
}
#searchUst{
    background-color: #ED6454;
}
.arrow{
    background-color: inherit ;
    border: none;
    color : white ;
    width: 10%;
    margin-right: 5px;
}
/* petites barres de recherches */
#option-container-ingr::-webkit-scrollbar,#option-container-app::-webkit-scrollbar,#option-container-ust::-webkit-scrollbar {
    display: none;
  }
#option-container-ingr, #option-container-app,#option-container-ust{
    max-height: 600px;
    padding: 10px;
    display: none;
    flex-wrap: wrap;
    flex-flow:column;
    overflow-y: scroll;
}
/* CSS sur l'affichage des recettes */
.recipe-container{
    width: 380px;
    background-color: #E7E7E7;
    height: 364px;
    margin: 3%;
}

.recipe-container > img {
    width: 380px;
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px;
}

.recipes-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 100px;
}
.description{
    width: 170px;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto' , sans-serif;
}
.recipe-text-container{
    padding: 1em;
    border-radius: 5px;
}

.recipe-title{
    display: inline-flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}
.recipe-title h3 {
    font-size: 19px;
    max-width: 240px;
    margin-bottom: 0;
    margin-top : -5px;
}
.recipe-title span {
    min-width: 70px;
    align-items: center;
}
small{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    max-width: 60px;
}
.recipe-descr-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.fa-clock{
    margin-right: 5px;
}
/* Fin CSS sur l'affichage des recettes
Début CSS concernant les tags */
#tagSpan{
    height: 50px;
    display: none;
    position: relative;
    min-width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 15px;
    max-width: 90%;
    margin-bottom: 30px;
    margin-left: 15px;
}
.tagButton{
    min-width: 150px;
    color :#E7E7E7;
    width: auto;
    margin-left: 30px;
    padding: 2%;
    margin-bottom: 2%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
input::placeholder{
    color: #E7E7E7;
}
.emptyresp{
    margin-left: 42px;
    margin-top: 20px;
}
.options{
    color: #E7E7E7;
    background-color:inherit ;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    max-width: max-content;
    margin: 4px 0;
    font-family: 'Lato';
}
.options:hover{
    border-bottom: #E7E7E7 1px solid;

}
.close-button{
    color : white ;
    border-radius: 50%;
    border: 3px solid white;
    margin-left : 10px ;
    font-weight: bold;
    font-size: 12px;
}
.spanErreur{
    margin-left : 40px ;
    margin-top: 10px;
    font-size: 20px;
}

/* medias querries */ 
@media (max-width : 500px){
    .recipe-container > img, .recipe-container{
        width: 350px;
    }
    .tagButton{
        min-width: 130px;
    }

}

@media (max-width : 765px) {
    #select-container{
        display: flex ;
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        position: initial;
    }
    #select-ingredient,#select-appliance,#select-ustensiles{
        width: 90%;
        margin-bottom : 15px ;
    }
    .recipes-wrapper{
        display: flex;
        align-items: center ;
        flex-direction: column;
    }
    .recipe-container{
        margin: 2% 0%;
    }
    #recherche::placeholder{
        font-size: 15px;
        overflow: hidden;
    }
}
@media (max-width : 865px){
    .recipes-wrapper{
        display: flex;
        align-items: center ;
        flex-direction: column;
    }
    #tagSpan{
        margin-bottom: 50px;
    }
}
@media (min-width : 1500px) and (max-width : 1660px){
    body{
        margin:  2% 3%;
    }
    .searchbar-container{
        width: 1310px;
    }
}
@media (min-width : 1661px){
    body{
        margin: 2% 7.5%;
    }
    .searchbar-container{
        width: 80%;
    }
    #select-container{
        margin-left: 50px;
    }
    header{
        width: 1440px;
    }
}